.stock__title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: CormorantInfant, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  margin-bottom: 1.875rem;
}

@media (max-width: 425px) {
  .stock__title-container  {
    flex-direction: column;
    align-items: flex-start;

  }
}