.intro__subtitle {
  font-family: Cormorant Infant;
  font-style: normal;
  font-weight: normal;
  font-size: 3.125rem;
  line-height: 3.8125rem;
  text-transform: uppercase;
  color: #70908B;
  margin: 1.1875rem 0 1.125rem;
}

@media (max-width:1355px) {
  .intro__subtitle {
    font-size: 2.5rem;
    line-height: 1.8125;
  }
}
@media (max-width:920px) {
  .intro__subtitle {
    font-size: 1.5rem;
    line-height: 1.8125;
  }
}
@media (max-width:520px) {
  .intro__subtitle {
    margin: 0.5rem 0 0.5rem;
  }
}
@media (max-width:320px) {
  .intro__subtitle {
    font-size: 1.3rem;
    margin: 0.5rem 0 0.5rem;
  }
}