.link {
  text-decoration:none;
  display: inline-block;
  line-height: 1;
  color: inherit;
  }

.link::after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--main-text-color);
  transition: width 0.4s ease-in-out;
  }
.link:hover::after,
.link:focus::after {
  width: 100%;
}