/* SETTINGS BLOCK */
@import url(./vendor/fonts.css);
@import url(./vendor/normalize.css);
@import url(./vendor/constants.css);
/* CUSTOMIZATION CLASSES */
@import url(./blocks/disabled/disabled.css);
@import url(./blocks/width-control/width-control.css);
@import url(./blocks/link/link.css);
@import url(./blocks/button/button.css);
@import url(./blocks/fixed/fixed.css);
/* BLOCKS */
@import url(./blocks/header/header.css);
@import url(./blocks/button-burger/button-burger.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/brief/brief.css);
@import url(./blocks/slider/slider.css);
@import url(./blocks/order-form/order-form.css);
@import url(./blocks/stock/stock.css);
@import url(./blocks/footer/footer.css);

/* MAIN STYLES */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  font-family: CormorantUnicase, Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
button {
  outline: 0;
  cursor: pointer;
}

h1,h2,h3,h4,a {
  text-rendering: optimizeLegibility;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}